.header-left{
	padding-top: 15px;
}

.order-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(221, 221, 221);
    height: auto;
    width: auto;
    margin-top: 0px;
    padding: 15px;
}

.order-header{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(231, 231, 231);
    width:fit-content;
    height: auto;
    margin: 0 auto;
}

.top-header{
    margin: 0 auto;
}

.timeline-container{
    border-bottom: 0px solid black;
    height: auto;
}

#timeline-wrap{
    margin:10% 10%;
    position:relative;   
  }
  
  #timeline{
    height:1px;
    width: 100%;
    background-color:#aabbc4;
    position:relative;
   
  }
  
   .marker{
     z-index:1000;
     color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    margin-left: -25px;
    background-color: #999999;
    border-radius: 50%;
          }
  
   .marker:hover{
     -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
     
     -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
   }
  
  
  .timeline-icon.one {
      background-color: #9fadd4 ;
  }
  
  .timeline-icon.two {
      background-color: #9fadd4 ;
  }
  
  .timeline-icon.three{
      background-color: #9fadd4 ;
  }
  
  .timeline-icon.four {
      background-color: #9fadd4;
  }
  
  
  .mfirst{
       top:-25px;
  }
  
  .m2{
       top:-25px;
        left:32.5%
  }
  
  .m3{
       top:-25px;
      left:66%
  }
  
  
  .mlast{
       top:-25px;
      left:100%
  }
  
  .timeline-panel {
    margin-top: 20%;
      width: 500px;
    height: 200px;
    background-color: #cbd0df;
    border-radius:2px;
      position:relative;
      text-align:left;
    padding:10px;
      font-size:20px;
      font-weight:bold;
      line-height:20px;
    float:left;
  }
  
  .timeline-panel:after {
      content:'';
      position:absolute;
    margin-top: -12%;
      left:10%;
      width:0;
      height:0;
      border:12px solid transparent;
      border-bottom: 15px solid #cbd0df;
  }

  .order-items-table{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(207, 207, 207);
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
  }

  .inside-image{
      width: 100px;
      height: 100px;
      object-fit: contain;
  }

  .cancel-div{
    border: 0px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
  }

  .cancel-div a{
    font-style:italic;
    text-decoration: underline;
    margin-left: 5px;
    color: rgb(0, 138, 108) !important;
  }

  .cancel-heading{
    color: rgb(51, 51, 51) !important;
    font-weight: 900;
    font-size: 30px;
    margin: auto;
  }

  .cancel-reason{
    color: rgb(83, 83, 83) !important;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
  }



  @media screen and (max-width: 600px){
      .order-items-table{
          margin-top: 50px;
          margin-left: 0;
          margin-right: 0;
          padding: 0;
      }
  }



/* Previous Order table css */

@media (max-width: 900px) {
  .table-wrap table,
  .table-wrap thead,
  .table-wrap tbody,
  .table-wrap th,
  .table-wrap td,
  .table-wrap tr {
    display: block;
  }
  .table-wrap thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-wrap td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%!important;
    white-space: normal;
    text-align: left;
  }
  .table-wrap td:before {
    position: absolute;
    top: 8px;
    left: 15px;
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .table-wrap td:first-child {
    padding-top: 17px;
  }
  .table-wrap td:last-child {
    padding-bottom: 16px;
  }
  .table-wrap td:first-child:before {
    top: 17px;
  }
  .table-wrap td:before {
    content: attr(data-title);
  }
  .table tbody tr {
    border-top: 1px solid #ddd;
  }
  .table tbody tr td {
    border: none;
  }
}

.table-wrap {
  background: #fff;
}

.table tbody tr:nth-child(odd) {
  background: #eee;
}

@media (min-width: 768px) {
  .table thead tr th,
  .table tbody tr td {
    padding: 15px 20px;
  }
}









  