{% extends 'base.html' %}
{% load static %}

{% block meta-contents %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content='Buy Acer, Apple MacBook, Asus, HP, Lenovo, Microsoft, MSI Razer Blade, Dell, ultrabook in Nepal at best price at Matechi'/>
    <meta name="keywords" content='Acer, Apple, Asus, HP, Dell, Lenovo, Alienware, MSI, Fantech, Razerblade, Microsoft'/>
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Password Change Done</title>
{% endblock %}

{% block link-content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel = 'stylesheet' src = "{% static 'assets/css/passwordchangedone.css' %}">
{% endblock %}

{% block content %}
    <img id="editableimage2" src="http://cdn.lowgif.com/full/f6accc23e7a0cdcf-success-animation-by-ankit-prajapati-dribbble.gif" style="margin: 0 auto;">
{% endblock %}