{% extends 'base.html' %}
{% load static %}

{% block meta-contents %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content='Buy Acer, Apple MacBook, Asus, HP, Lenovo, Microsoft, MSI Razer Blade, Dell, ultrabook in Nepal at best price at Matechi'/>
<meta name="keywords" content='Acer, Apple, Asus, HP, Dell, Lenovo, Alienware, MSI, Fantech, Razerblade, Microsoft'/>
<meta name="robots" content="INDEX,FOLLOW"/>
<meta name="format-detection" content="telephone=no"/>
<title>Password Reset | Dell, HP, Apple MacBook, Acer, Asus, Lenovo, MS</title>
{% endblock %}

{% block link-content %}
<link rel="stylesheet" href="{% static 'assets/css/brand_mall.css'%}">
{% endblock %}

{% block content %}
<body>
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Password Reset Confirm</a></li>
                </ol>
            </div>
            <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
            <div class="container">
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="password-reset" data-toggle="tab" role="tab" aria-controls="password-reset" aria-selected="true">Password Reset Confirm</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="signin-2" role="tabpanel" aria-labelledby="password-reset-tab-2">
                                <form action="#" method = 'post'>
                                    {% csrf_token %}
                                    {% for fm in form %}
                                    <div class = "form-group">
                                        {{fm.label_tag}} {{fm}} <small class = "text-danger" >{{fm.errors|striptags}}</small>
                                    </div>
                                    {% endfor %}
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SUBMIT</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                    </div>
                                    <!-- End .form-footer -->
                                </form>
                                {% if form.non_field_errors %}
                                 {% for error in form.non_field_errors %}
                                  <p class = 'alert alert-danger my-3'>{{error}}</p>
                                 {% endfor %}
                                {% endif %}
                                <!-- End .form-choice -->
                            </div>
                            <!-- .End .tab-pane -->
                        </div>
                        <!-- End .tab-content -->
                    </div>
                    <!-- End .form-tab -->
                </div>
                <!-- End .form-box -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .login-page section-bg -->
    </main>
    <!-- End .main -->
</body>
{% endblock %}
