{% extends 'base.html' %}
{% load static %}
{% block content%}
  <style>
    .congrats{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 70px;
    }

    .congrats img{
      width: 200px;
      height: 250px;
      object-fit: scale-down;
    }

    .congrats h4{
      font-size: 28px; 
    }

    .congrats p {
      font-size: 20px;
      font-weight: 300;
      color: rgb(97, 97, 97);
    }

  </style>

  <div class="congrats"> 
      <img src = "{% static 'assets/images/misc/checkmark.png'%}">
      <h4 class = 'alert-heading'> Congratulations ! </h4>
      <p>An Email has been sent with instructions to reset your password. <b> Check your Email!</b></p>
    </div>

{% endblock %}